template(name='grid')
    .ui.stackable.padded.grid
        .row
            .sixteen.wide.column
                //- .ui.header prime
                //- if currentUser.prime
                //-     .ui.button.cancel
                //-         |cancel
                //-     .ui.green.header is prime member
                //- else
                //-     .ui.button.get_prime
                //-         |get prime
                //- if currentUser.prime
                .ui.segment
                    a.ui.header(href="/tasks") 
                        i.tasks.icon
                        |tasks
                .ui.segment
                    a.ui.header(href="/blog")
                        i.blog.icon
                        |blog
                .ui.segment
                    a.ui.header(href="/blog")
                        i.chat.icon
                        |forum
                .ui.segment
                    a.ui.header(href="/voting")
                        i.thumbs.up.icon
                        |voting
                .ui.segment
                    a.ui.header(href="/auctions")
                        i.thumbs.up.icon
                        |auctions
                .ui.segment
                    a.ui.header(href="/auctions")
                        i.thumbs.up.icon
                        |deliveries
