template(name='home')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                +admin_panel
            .four.wide.column
                +task_panel
            .four.wide.column
                .ui.header 
                    +icon name='shop'
                    |shop
            .four.wide.column
                .ui.header
                    +icon name='delivery'
                    |deliveries
            .four.wide.column
                .ui.header 
                    +icon name='garden'
                    |gardens
            .four.wide.column
                .ui.header 
                    +icon name='photo'
                    |photos
            .four.wide.column
                .ui.header 
                    +icon name='groups'
                    |people
            .four.wide.column
                .ui.header 
                    +icon name='line-chart'
                    |stats
            .four.wide.column
                
            .four.wide.column
                +blog_panel
                
                
                
template(name='admin_panel')
    .ui.header 
        +icon name='shield'
        |admin
    
    
    
template(name='task_panel')
    .ui.header
        +icon name='tasks'
        //- i.tasks.icon
        |tasks
    .ui.button 
        |new task
        
        
template(name='blog_panel')
    .ui.header
        +icon name='blog'
        |blog
    .ui.button 
        |new task
