template(name='home')
    .ui.stackable.padded.grid
        .row
            //- .four.wide.column
            //-     +admin_panel
            .four.wide.column
                +work_panel
            .four.wide.column
                a.ui.header(href="/shop") 
                    +icon name='shop' cl='ui mini image'
                    |shop
            .four.wide.column
                a.ui.header(href="/users") 
                    +icon name='groups' cl='ui mini image'
                    |people
    
template(name='work_panel')
    a.ui.header(href="/work")
        +icon name='work'
        //- i.work.icon
        |work
    .ui.button 
        |new work
        
