template(name='nav')
    .ui.fluid.attached.borderless.inverted.menu.topnav
        a.icon.item.set_model(href="/m/model" class="{{isActivePath regex='delta'}}" title='apps')
            //- +icon name='database' cl='ui mini image'
            //- +icon name='menu' cl='ui mini image'
            i.large.bars.icon
        
        a.item(href="/" class="{{isActivePath regex='home'}}")
            //- +icon name='home' cl='ui avatar image'
            i.large.home.icon
            //- +icon name='home' cl='ui avatar image'
            span.mobile.hidden
                //- |&nbsp;
                |ONE|Riverside
        //- a.item(href="/generate" class="{{isActivePath regex='generate'}}")
        a.item.set_shift(href="/m/shift" class="{{isActivePath regex='generate'}}")
            //- +icon name='work' cl='ui mini image'
            //- +icon name='sprout' cl='ui avatar image'
            i.large.seedling.icon
            span.mobile.hidden
                //- |&nbsp;
                | generate
        a.item.set_shop(href="/m/shop" class="{{isActivePath regex='gift'}}")
            //- +icon name='rain' cl='ui avatar image'
            //- +icon name='shop' cl='ui avatar image'
            //- +icon name='plant-under-rain' cl='ui avatar image'
            i.large.tint.icon
            span.mobile.hidden
                //- |&nbsp;
                | gift
        //- a.item(href="/users" class="{{isActivePath '/users'}}")
        //- a.item(href="/badges" class="{{isActivePath '/badges'}}")
        //- a.item(href="/m/badge" class="{{isActivePath '/m/badge'}}")
        //-     //- +icon name='verified-badge' cl='ui avatar image'
        //-     i.certificate.icon
        //-     span.mobile.hidden
        //-         //- |&nbsp;
        //-         | badges
        //- a.item(href="/m/shift" class="{{isActivePath '/m/shift'}}")
        //-     //- +icon name='calendar' cl='ui avatar image'
        //-     i.calendar.icon
        //-     span.mobile.hidden
        //-         //- |&nbsp;
        //-         | shifts
        //- a.item(href="/tribes")
        //-     +icon name='campfire' cl='ui avatar image'
        //-     |tribes
        .right.menu
            if is_in_admin
                .icon.item.toggle_admin
                    i.shield.icon
            //- a.item(href="/m/location") 
            //-     i.marker.icon
            //- if currentUser
            //-     a.item.set_user(href="/m/user" class="{{isActivePath '/m/user'}}")
            //-         //- +icon name='groups' cl='ui avatar image'
            //-         i.users.large.icon
            //-         span.mobile.hidden
            //-             //- |&nbsp;
            //-             | directory
        
            //- a.item(href="/m/bug")
            //-     i.question.icon
            if currentUser
                a.large.item(href="/user/#{currentUser.username}" class="{{isActivePath regex='profile_layout'}}")
                    //- i.large.user.large.icon
                    if currentUser.profile_image_id
                        img.ui.avatar.image(src="{{c.url currentUser.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                    else 
                        i.large.user.large.icon
                    |#{currentUser.username}
                    //- .ui.circular.inverted.black.large.label 
                    |#{currentUser.points}
            else
                a.item(href="/login")
                    +icon name='internal' cl='ui avatar image'
                    //- i.large.sign.in.alternate.icon
                    |login
