template(name='calendar')
    .ui.container
        +session_edit_value_button key='cal_view' value='month' label='month'
        +session_edit_value_button key='cal_view' value='week' label='week'
        +session_edit_value_button key='cal_view' value='day' label='day'
        +session_edit_value_button key='cal_view' value='agenda' label='agenda'
        if session_is 'cal_view' 'month'
            +cal_month
        else if session_is 'cal_view' 'week'
            .ui.header week
        else if session_is 'cal_view' 'day'
            .ui.header day
        else if session_is 'cal_view' 'agenda'
            .ui.header agenda
            
            
            
template(name='cal_month')
    .ui.fluid.celled.grid
        .row
            .four.wide.column
                i.left.chevron.icon
            .eight.wide.column
                .ui.header #{current_month}
            .four.wide.column
                i.right.chevron.icon
        .seven.column.row
            .column
                .ui.inline.header sun
            .column
                .ui.inline.header mon
            .column
                .ui.inline.header tues
            .column
                .ui.inline.header wed
            .column
                .ui.inline.header thur
            .column
                .ui.inline.header fri
            .column
                .ui.inline.header sat
        .seven.column.row
            each days
                a.column.pointer
                    .ui.basic.segment
                        |#{this}
