template(name='earn_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .four.wide.column
                    a.ui.fluid.large.button(href="/earn/#{_id}/view") 
                        i.checkmark.icon
                        |save
                    +remove_button
                    +boolean_edit key='approval_required' label='approval required'
                    if approval_required 
                        +text_edit key='approving_username' label='approving username'
                    //- +number_edit key='bounty' label='points bounty' icon='yin-yang'
                    +number_edit key='points' label='point value' icon='yin-yang'
                    //- +number_edit key='estimated_hours' label='estimated hours' icon='clock'
                    //- +number_edit key='actual_hours' label='actual hours'
                
                .eight.wide.column
                    .ui.header edit earn
                    +text_edit key='title' label='title'
                    +image_edit key='image_id' label='image'
                    +textarea_edit key='description' label='description'
                    div 
                    +array_edit key='tags' label='tags'
                .four.wide.column
                    //- +single_user_edit key='assigned_to' label='assigned to' icon='sign out'
                    //- if assigned_to
                    //-     +text_view key='assigned_to' icon='sign in'
                    //- +date_edit key='due_date' label='due date' icon='calendar'
                    //- +boolean_edit key='complete' label='complete' icon='checkmark'
