template(name='shop')
    .ui.padded.stackable.grid
        .four.wide.column
            .ui.header shop
            .ui.big.icon.button.add_item
                i.green.plus.icon
        .twelve.wide.column
            each items
                .ui.header #{title}
