template(name='users')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.header users
            .ui.header redditors
            each redditors
                .ui.header #{username}
