template(name='user_groups')
    .ui.center.aligned.header 
        i.users.icon
        | groups



template(name='user_events')
    .ui.inline.header 
        i.calendar.icon
        |events
    unless tutor_sessions.length 
        |no tutor sessions
    each tutor_sessions 
        .ui.header #{title}
    div
    if is_current_user 
        .ui.button.new_slot
            i.plus.icon
            |slot
    each slots 
        .ui.segment
            .ui.header 
                small from {{long_date start_timedate}}
            .ui.header 
                small to {{long_date end_datetime}}
            .ui.list 
                .item #{bids}
            if closed 
                .ui.green.label closed
            else 
                .ui.label open
            a.ui.button(href='/m/slot/#{_id}/view')
                |view
    

template(name='user_friend_button')
    if is_friend
        .ui.blue.fade.animated.circular.button.unfriend
            .visible.content
                |friend
            .hidden.content
                i.minus.icon
    else
        .ui.basic.circular.button.friend
            i.plus.icon
            |friend
