template(name='user_edit_membership')
    .ui.header membership

    .ui.large.button
        |free
    .ui.large.button
        |basic
        |$10/month
    .ui.large.button
        |pro
        |$1/day
        
template(name='user_edit_ads')
    .ui.header membership
    .ui.large.button
        |free
    .ui.large.button
        |basic
        |$10/month
    .ui.large.button
        |pro
        |$1/day
