template(name='user_badges')  
    .ui.center.aligned.header 
        +icon name='verified-badge'
        |user badges
    if is_steward
        .ui.button add badge
    each user_badges
        .ui.segment
            .ui.small.header #{body}
            div
            +user_list_toggle key='read_by_ids' label='mark read' icon='eye'
            if can_edit
                +remove_button
            //- div
            +author_info
            +creation_info
    each all_badges
        .ui.large.basic.button 
            +icon name=icon cl='ui centered image'
            .content
                a.header(href="/badge/#{_id}/view") #{title}
        
