template(name='user_chats')
    //- .ui.center.aligned.header 
    //-     +icolor name='inbox'
    //-     |user chats
    if currentUser
        .ui.fluid.icon.input
            i.plus.icon
            input.new_chat(type='text' placeholder='new chat...')
    each user_chats
        +user_chat

template(name='user_chat')
    .ui.smoothed.segment(class=chat_segment_class)
        .ui.inline.header #{body}
        .ui.grey.inline.small.header
            +creation_info
        //- each tags
        //-     .ui.label #{this}
        div
        +notify_chat
        +mark_read_button
        if read
            small {{ from_now read_timestamp }}
        //- +user_list_toggle key='read_by_ids' label='mark read' icon='eye'
        if can_edit
            .ui.circular.basic.icon.button.remove_chat
                i.remove.red.icon
        div
        +author_info
        //- +watson_view
        
template(name='notify_chat')
    unless notified
        .ui.basic.icon.button.notify(title="notify #{to_username}")
            i.rss.icon


template(name='mark_read_button')
    if read
        .ui.compact.small.button.mark_unread
            i.invisible.icon
            //- |mark unread
    else 
        .ui.compact.small.basic.button.mark_read
            i.eye.icon
            |mark read
