template(name='user_edit_membership')
    .ui.header
        i.shield.icon
        | riverside membership
    .ui.grid 
        .row 
            .sixteen.wide.column
                +boolean_edit key='publish_profile' label='publish profile' direct=true
                if is_admin
                    .ui.header
                        i.shield.icon
                        |admin
                    +array_edit key='levels' label='levels' direct=true
                +array_edit key='roles' label='roles' direct=true
