template(name='user_edit_alerts')
    .ui.header
        i.shield.icon
        | riverside alerts
    .ui.grid 
        .row 
            .four.wide.column
                +boolean_edit key='publish_profile' label='publish profile' direct=true
            .twelve.wide.column
                .ui.header 
                    |make profile public 
                .ui.small.header 
                    |Allow others to find your profile and follow you. Allows you to follow others. Enrolls you in public leaderboards.
